.git
.agents
.codex
.aws
.env
.env.*
**/.env
**/.env.*
**/pb_data
**/node_modules
**/build
**/.react-router
**/coverage
**/.DS_Store
**/*.log
.overmind.sock
bin/*
!bin/whistle/
bin/whistle/*
!bin/whistle/needle.wasm
!bin/whistle/manifest.json
!bin/whistle/LICENSE
!bin/whistle/whistle.cact

!bin/whistle/README.md

models/*
!models/SmolLM2-135M.Q8_0.llamafile
